.shoppingCartContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    width: 100%;
    min-height: 70vh;
    padding-inline: 1rem;
}

.shoppingCartFooter {
    padding-inline: 1rem;

    .shoppingCartTotalContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        margin-block: 30px 15px;

        >p:nth-of-type(1) {
            font-size: .9rem;
            color: var(--dark-grey);
            font-weight: 700;
        }

        >p:nth-of-type(2) {
            font-weight: 800;
        }
    }
}