.loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-inline: 1.5rem;
    background: url(../../../public/auth-bg.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

    @media (min-width: 500px) {
        background-image: url(../../../public/login-bg-large.png);
    }
}