.swiper {
    display: flex;
}

.swiper .swiper-wrapper {
    display: flex;
}

.swiper .swiper-slide {
    display: flex;
    align-items: center;

    background-color: var(--white);
    border-radius: 15px;
}